<h1>Product CRUD Operations</h1>

<div *ngIf="products && products.length > 0">
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Manufacturer ID</th>
        <th>Manufacturer</th>
        <th>In Stock</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product?.id }}</td>
        <td>{{ product?.prodName }}</td>
        <td>{{ product?.quantity }}</td>
        <td>{{ product?.unitPrice | currency }}</td>
        <td>{{ product?.mId }}</td>
        <td>{{ product?.manufacturer }}</td>
        <td>{{ product?.inStock ? 'Yes' : 'No' }}</td>
        <td><button id="update" (click)="populateForm(product?.id)">Update</button></td>
        <td><button id="delete" (click)="deleteProduct(product?.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<p *ngIf="!products || products.length == 0">No products available</p>